{% extends "base.html" %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Your Cloud,Our Expertise.</h1>
          <h2>Our mission is to help you harness the full potential of cloud technology, innovation, scalability, and cost-efficiency within your organization.</h2>
          
          <div class="d-flex justify-content-center justify-content-lg-start">
            
            
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
         
          <img src="{{ url_for('static', filename='img/hero-img.png') }}" alt="Your Image" class="img-fluid animated">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='img/nodejs.png') }}" class="img-fluid">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='img/java.jpeg') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='img/python.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='img/go.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='img/clojure.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='img/scala.jpg') }}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             <h3>Welcome to Air cloud, the leading cloud services provider your trusted partner in cloud computing solutions.</h3>
            </p>
            <ul>
             <h4><li><i class="ri-check-double-line"></i> We specialize in delivering cutting-edge cloud services designed to empower businesses of all sizes.</li></h4>
              <h4><li><i class="ri-check-double-line"></i>At Air cloud, we are at the forefront of revolutionizing the way businesses operate in the digital age.</li></h4>
              <h4><li><i class="ri-check-double-line"></i> We enable our customers to evolve, compete and succeed leveraging our software franchises for and across data, automation, insight and collaboration.</li></h4>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              <ul>
                <h4><li><i class="ri-check-double-line"></i> We specialize in delivering cutting-edge cloud services designed to empower businesses of all sizes.</li></h4>
                 <h4><li><i class="ri-check-double-line"></i>Our mission is to help you harness the full potential of cloud technology, driving innovation, scalability, and cost-efficiency within your organization.</li></h4>
               </ul>
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

   
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
          <h2>Our Services</h2>
         
        </div>
    
        <div class="row">
          <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <a href="/Iaas">
           <div class="icon-box">
              <img src="{{ url_for('static', filename='img/iaas.png') }}" class="img-fluid" alt="">
              <br><br>
               <h4><a>Infrastructure as a Service </a></h4> 
              <p><h5>Build a flexible, scalable, and cost-effective infrastructure in the cloud.</p></h5>
            </div></a>
          </div>
    
          
          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <a href="/Paas"> <div class="icon-box">
              <img src="{{ url_for('static', filename='img/paas12.png') }}" class="img-fluid" alt="">
              <h4><a><br><br>
                Platform as a Service </a></h4>
              <p><h5>Streamline application development and deployment with our PaaS solutions.</p></h5>
            </div></a>
          </div>
    
          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <a href="/Saas">  <div class="icon-box">
              <img src="{{ url_for('static', filename='img/saas-cover.png') }}" class="img-fluid" alt="">
              <br><br>
              
              <h4><a>Software as a Service </a></h4>
              <p><h5>Access powerful software applications without the hassle of maintenance and upgrades.</h5></p>
            </div></a>
          </div>
    
         
    
        </div>
    
      </div>
    </section><!-- End Services Section -->
    
    
   
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Our Expertise</h2>
     
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <img src="{{ url_for('static', filename='img/innovation.jpg') }}" class="img-fluid" alt="">
          <br><br>
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
           <h4><a>innovation</a></h4> 
          <p><h5>We stay ahead of the curve by constantly upgrading our services in cloud computing to offer you the latest solutions.</p></h5>
        </div>
      </div>

      

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <img src="{{ url_for('static', filename='img/skills.png') }}" class="img-fluid" alt="">
          <h4><a>Skills</a></h4>
          <p><h5>With the experience of more than 10 years, our Company have developed the deep industrial knowledge along with the skilled workers and together we are going to transform your business.</p></h5>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <img src="{{ url_for('static', filename='img/scalability.jpg') }}" class="img-fluid" alt=""><br><br>
          <h4><a>Scalability</a></h4>
          <p><h5>At Air cloud, we take pride in our scalability, a foundational pillar of our success. So, whether you're a startup , a mid-size company or a large enterprise our cloud solutions can scale with you.</h5></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <img src="{{ url_for('static', filename='img/security.png') }}" class="img-fluid" alt=""><br><br>
          <h4><a>Security</a></h4>
          <p><h5>Your data's security is our top priority. We employ robust security measures to protect your information from every threat.</h5></p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
  
 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
      
    </div>

    <div class="row">

      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>aircloud@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+1 55894 55488 </p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.3337719162528!2d-114.05857222336289!3d51.046924544238074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53717ad00ad231a9%3A0x34c6c179aae00af8!2sBow%20Valley%20College%2C%20South%20Campus!5e0!3m2!1sen!2sca!4v1702276423083!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form  role="form" class="php-email-form" id ="myForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" id="message"  required></textarea>
          </div>
         
          <div class="text-center"><button type="submit" value="Submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->



</main><!-- End #main -->
<script>
  $(document).ready(function() {
    $("#myForm").submit(function(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        submitForm(); // Call your custom function to handle the form submission
    });
});
  function submitForm() {
    var formData = {
        'name': document.getElementById('name').value,
        'email': document.getElementById('email').value,
        'subject': document.getElementById('subject').value,
        'message': document.getElementById('message').value
    };
    $.ajax({
        type: "POST",
        url: "/insert_data",
        contentType: "application/json;charset=UTF-8",
        data: JSON.stringify(formData),
        success: function (response) {
            alert("Data submitted successfully!");
            $("#myForm")[0].reset();
        },
        error: function (error) {
            console.error("Error submitting data:", error);
        }
    });
    
}
</script>
{% endblock %}