{% extends "base.html" %}
{% block content %}
<script type="text/javascript"> let headID = document.getElementsByTagName("head")[0]; let newCss = document.createElement('link'); newCss.rel = 'stylesheet'; newCss.type = 'text/css'; newCss.href = "https://botmake.io/embed/bot1631895.css"; let newScript = document.createElement('script'); newScript.src = "https://botmake.io/embed/bot1631895.js"; newScript.type = 'text/javascript'; headID.appendChild(newScript); headID.appendChild(newCss); </script>
   
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>What is AIR VPN?</h1>
          <h2>
            Experience online freedom with our cutting-edge VPN service. Our Virtual Private Network ensures secure, anonymous browsing, protecting your data on public Wi-Fi and beyond. Break free from online restrictions and embrace a borderless internet. Redefine your connection with us, where privacy and security meet seamless connectivity.</h2>
          
          <div class="d-flex justify-content-center justify-content-lg-start">   
            
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
         <img src="{{ url_for('static', filename='img/vpn.png') }}"class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What do we as a service offer?</h2>
         
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box"><img src="{{ url_for('static', filename='img/encryption.png') }}" class="img-fluid" alt=""><br><br>
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
               <h4><a>Military-Grade Encryption: </a></h4> 
              <p><h5>Keep your online activities confidential with our state-of-the-art encryption protocols. Your data is secure, whether you're browsing, streaming, or conducting business online.</p></h5>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box"><img src="{{ url_for('static', filename='img/global.png') }}" class="img-fluid" alt="" type="image/webp"><br><br>

              <h4><a>Global Server Network: </a></h4>
              <p><h5>Access content from anywhere in the world with our extensive server network. Enjoy fast and reliable connections, no matter where you are.

              </p></h5>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <img src="{{ url_for('static', filename='img/vpn (1).png') }}" class="img-fluid" alt=""><br><br>
              <h4><a>No Logging Policy: </a></h4>
              <p><h5>We respect your privacy. Our strict no-logs policy means we don't track or store your online activity. Your data is yours and yours alone.</h5></p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <img src="{{ url_for('static', filename='img/multi1.png') }}" class="img-fluid" alt=""><br><br>
              <h4><a>Multi-Platform Support: </a></h4>
              <p><h5>Use our VPN seamlessly across all your devices. Whether you're on your desktop, laptop, tablet, or smartphone, we've got you covered.</h5></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    
    <!-- MY ADD ONS -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>At AIR VPN, we believe in providing flexible and affordable pricing plans to meet the diverse needs of our users. Our plans are designed to offer a range of options, whether you're an individual user, a family, or a business. We prioritize transparency, ensuring that there are no hidden fees what you see is what you get. Choose the plan that best suits your requirements and enjoy the benefits of secure, private, and unrestricted internet access. With competitive pricing, a risk-free trial option, and a commitment to customer satisfaction, AIR VPN is your trusted partner in safeguarding your online experience.</p>
        </div>

      </div>
    </section><!-- End Pricing Section -->

    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <table>
            <thead>
                <tr>
                    <th class="white-text"></th>
                    <th class="white-text">Complete $4.99/mo</th>
                    <th class="white-text">Plus $3.99/mo</th>
                    <th class="white-text">Standard $2.99/mo</th>
                    <th class="white-text">Free Trial/30Gb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="blue-text" style="font-size: 20px;"><strong> Secure, high-speed VPN</strong></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                </tr>
                <tr>

                    <td class="white-text" style="font-size: 20px;"><strong> Malware protection</strong></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="cross">&#10008;</span></td>
                </tr>
                <tr>
                  <td class="blue-text" style="font-size: 20px;"><strong> Tracker and ad blocker
                  </strong></td>
                  <td><span class="tick">&#10004;</span></td>
                  <td><span class="tick">&#10004;</span></td>
                  <td><span class="tick">&#10004;</span></td>
                  <td><span class="cross">&#10008;</span></td>
                </tr>
                <tr>
                  <td class="white-text" style="font-size: 20px;"><strong> Cross-platform password manager</strong></td>
                  <td><span class="tick">&#10004;</span></td>
                  <td><span class="tick">&#10004;</span></td>
                  <td><span class="cross">&#10008;</span></td>
                  <td><span class="cross">&#10008;</span></td>
                </tr>
                <tr>
                    <td class="blue-text" style="font-size: 20px;"><strong> Data breach scanner
                    </strong></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="cross">&#10008;</span></td>
                    <td><span class="cross">&#10008;</span></td>
                </tr>
                <tr>

                    <td class="white-text" style="font-size: 20px;"><strong> 1 TB cloud storage</strong></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="cross">&#10008;</span></td>
                    <td><span class="cross">&#10008;</span></td>
                    <td><span class="cross">&#10008;</span></td>
                </tr>
                <tr>
                  <td class="blue-text" style="font-size: 20px;"><strong> Next-generation file encryption</strong></td>
                  <td><span class="tick">&#10004;</span></td>
                  <td><span class="cross">&#10008;</span></td>
                  <td><span class="cross">&#10008;</span></td>
                  <td><span class="cross">&#10008;</span></td>
                </tr>
            </tbody>
          </table>
      </div>
    </section>
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Why do I need a VPN? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    A VPN enhances your online security and privacy by encrypting your internet connection. It also allows you to access geo-restricted content, secure public Wi-Fi connections, and browse the internet anonymously.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-1" class="collapse">Is my data secure with a VPN? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    Yes, our VPN service supports multiple devices. Whether you're using a desktop, laptop, tablet, or smartphone, you can enjoy a secure connection across all your devices.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-1" class="collapse">Can I use a VPN on multiple devices? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    Yes, SaaS providers implement robust security measures to protect user data. This includes encryption, regular security updates, and compliance with industry standards.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-1" class="collapse">How does a VPN protect me on public Wi-Fi? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    When connected to public Wi-Fi, a VPN encrypts your internet traffic, preventing potential hackers from accessing your data. It adds an extra layer of security, ensuring your sensitive information remains private.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-1" class="collapse">Do you keep logs of my online activities? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    No, we strictly adhere to a no-logs policy. We don't monitor, track, or store any information about your online activities. Your privacy is our priority.
                  </p>
                </div>
              </li>
  
            </ul>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
      
    </div>

    <div class="row">

      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>aircloud@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+1 55894 55488 </p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.3337719162528!2d-114.05857222336289!3d51.046924544238074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53717ad00ad231a9%3A0x34c6c179aae00af8!2sBow%20Valley%20College%2C%20South%20Campus!5e0!3m2!1sen!2sca!4v1702276423083!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form  role="form" class="php-email-form" id ="myForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" id="message"  required></textarea>
          </div>
         
          <div class="text-center"><button type="submit" value="Submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->


  </main><!-- End #main -->

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <section id="pricing" class="pricing">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
    
              <div class="footer-newsletter">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-6">
                      <div class="head"><h2> Our other offerings</h2></div>
                      <h4>PaaS</h4>
          
                      <p>Checkout our PaaS related services</p><br>
                      <a href="/Paas" class="buy-btn">Take me there</a>
                  </div>
          
          
                </div>
              </div>
          
              <div class="footer-newsletter">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-6">
                      <h4>IaaS</h4>
                      <p>Checkout our IaaS related services</p><br>
                      <a href="/Iaas" class="buy-btn">Take me there</a>
                  </div>
          
          
                </div>
              </div>
            </div>
    
          </div>
        </section>
      </div>
  
  
    </div>
  </div>


    {% endblock %}